@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #ehvr:hover {
        background: #00FF00;
        color: black;
    }
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<br />
<h2>Başlık Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adını Giriniz")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @*bu kodu validation kullanıcı ara yüzünde gözüksün diye yazıyoruz*@
        @Html.ValidationMessageFor(x => x.HeadingName, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vcategory, "Kategori Seçiniz", new { @class = "form-control" })
        @*bu kodu validation kullanıcı ara yüzünde gözüksün diye yazıyoruz*@
        @Html.ValidationMessageFor(x => x.Category.CategoryId, null, new { @class = "text-danger" })
        @*<br />
            @Html.Label("Yazar")
            @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.vwriter,"Yazar Seçiniz", new { @class = "form-control" })
            bu kodu validation kullanıcı ara yüzünde gözüksün diye yazıyoruz
            @Html.ValidationMessageFor(x => x.Writer.WriterId, null, new { @class = "text-danger" })*@
        <br />
        <button id="ehvr" class="btn btn-success">Başlık Ekle</button>
    </div>

}


