@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<style>
    #ghvr:hover {
        background: #7986CB;
        color: black;
    }
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<br />
<h2>Başlık Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingId)
        @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })
        @Html.HiddenFor(x => x.HeadingDate)

        @Html.Label("Başlık Adını Giriniz")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @*bu kodu validation kullanıcı ara yüzünde gözüksün diye yazıyoruz*@
        @Html.ValidationMessageFor(x => x.HeadingName, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vcategory, "Kategori Seçiniz", new { @class = "form-control" })
        @*bu kodu validation kullanıcı ara yüzünde gözüksün diye yazıyoruz*@
        @Html.ValidationMessageFor(x => x.Category.CategoryId, null, new { @class = "text-danger" })
        <br />
        <button id="ghvr" class="btn btn-primary">Başlık Güncelle</button>
    </div>

}


